*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.color-green{
    color: #30b868;
}
.btn-green{

 background-color: #30b868;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* main style */

header {
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar{
    height: 88%;
    max-width: 1600px;
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    margin: 0 auto;
}

.logo{
    height: 60px;
    width: 139px;
    display: block;
}

.menu{
    display: flex;
    list-style-type: none;
    /* justify-content: space-between; */
    align-items: center;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    color:#000000 ;
    text-decoration: none;
}

.btn-green{

}
